<section class="exercise">
  <h2>2. Directivas Estructurales</h2>

  <h3>ngFor</h3>
  <ul>
    <li *ngFor="let letter of letters">{{ letter }}</li>
  </ul>

  <h3>ngIf</h3>
  <ul>
    <ng-container *ngFor="let letter of letters">
      <li *ngIf="letter !== 'B'">{{ letter }}</li>
    </ng-container>
  </ul>

  <h3>ngSwitch</h3>
  <ul>
    <ng-container *ngFor="let letter of letters">
      <ng-container [ngSwitch]="letter">
        <li *ngSwitchCase="'A'">1</li>
        <li *ngSwitchCase="'B'">2</li>
        <li *ngSwitchCase="'C'">3</li>
      </ng-container>
    </ng-container>
  </ul>
</section>
